* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

/* Edit Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(199, 161, 235);
}

main .products::-webkit-scrollbar {
    width: 0;
}

/* --- Navbar Starts here --- */
.upper-layer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    /* background: rgba(0, 0, 0, 0.068); */
    z-index: 5;
}

nav {
    background-color: rgb(152, 23, 217);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.98%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-left a {
    text-decoration: none;
}

.nav-left .logo {
    margin-right: 4rem;
    padding: 0.6rem 0;
    color: white;
}

form {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.nav-left #searchInput {
    width: 30vw;
    height: 2.5rem;
    padding: 0 1rem;
    border: none;
    outline: none;
}

.nav-left form i {
    font-size: 1.5rem;
    padding: 0 .5rem;
    color: rgb(169, 44, 232);
}

.nav-left form i:hover {
    color: rgb(147, 19, 210);
    transition: color 0.1s ease;
}

.nav-right {
    padding: 0.5rem 0;
}

.nav-right span {
    margin-left: 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding: 0.95rem 0;
    cursor: pointer
}

.nav-right a {
    text-decoration: none;
    color: white;
}

.nav-right .fa-bars {
    display: none;
}

.nav-menu {
    position: absolute;
    right: 10%;
    background-color: white;
    width: max-content;
    box-shadow: 0px 1px 20px 1px rgba(152, 152, 152, 0.748);
    z-index: -5;
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-menu #tooltip {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -0.4rem;
    left: 7rem;
    transform: rotate(180deg);
}

.nav-menu #tooltip i {
    color: white;
    font-size: 1.7rem;
}

.nav-menu .menu {
    padding: 0.5rem 0 0.8rem 2rem;
    border-bottom: 1px solid rgb(224, 224, 224);
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-menu .menu a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 5rem 0.5rem 0;
}

.nav-menu .menu:hover {
    background-color: rgb(242, 242, 242);
    transition: background-color 0.1s ease;
}

.nav-menu i {
    margin-right: 2rem;
    color: rgb(169, 44, 232);
}

/* --- Navbar Ends here --- */


/* --- Hero Section Starts here --- */
section {
    background-color: rgb(241, 241, 241);
    min-height: 90vh;
}

section .container {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    /* background-color: aquamarine; */
}

section aside {
    width: 25%;
    overflow: hidden;
}

section aside .top {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: 1px 2px 7px 1px rgba(175, 175, 175, 0.748);
}

section aside .top img {
    margin: 0.8rem;
}

section aside .top #greet {
    font-size: 0.8rem;
}

section aside .top #username {
    font-weight: 500;
    font-size: 1.2rem;
}

section aside .bottom {
    background-color: white;
    box-shadow: 1px 2px 7px 1px rgba(175, 175, 175, 0.748);
    margin-top: 1rem;
}

section aside .bottom .box {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid rgb(236, 236, 236);
}

section aside .bottom .box a {
    font-weight: 500;
}

section aside .bottom a {
    text-decoration: none;
    color: black;

}

section aside .bottom a:hover {
    color: rgb(147, 19, 210);
}

section aside .bottom .box .fa-caret-right {
    margin-left: 48%;
    color: black;
}

section aside .bottom i {
    color: rgb(153, 17, 221);
}

section aside .bottom .account {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    font-weight: 500;
}

section aside .bottom .account-menu {
    padding-left: 3rem;
    border-bottom: 1px solid rgb(236, 236, 236);
}

section aside .bottom .account-menu p:hover {
    color: rgb(147, 19, 210);
}

section main {
    background-color: white;
    width: 73.7%;
    align-self: self-start;
    box-shadow: 1px 2px 7px 1px rgba(175, 175, 175, 0.748);
    overflow: hidden;
}

section main .wishlist-head {
    padding: 1rem 2rem;
    border-bottom: 1px solid rgb(236, 236, 236);
}

section main .products {
    max-height: 79vh;
    overflow-y: scroll;
}

section main .wishlist-products {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgb(236, 236, 236);
}

section main .wishlist-products img {
    margin: 2rem;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

section main .product-des {
    padding: 1rem 0;
    width: 55%;
    font-size: 1.2rem;
}

section main .product-des p {
    font-weight: 500;
}

section main .product-des:hover p {
    color: rgb(135, 12, 197);
}

section main .product-des .rating {
    background-color: rgb(0, 174, 0);
    width: fit-content;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.1rem 0.6rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

section main .product-des #price {
    margin-top: 1rem;
    font-size: 1.4rem;
}

section main .product-des button {
    border: none;
    outline: none;
    padding: 0.3rem 1rem;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    margin-top: 1rem;
}

section main .product-des button:hover {
    background-color: rgb(115, 22, 201);
}

section main .wishlist-products .fa-trash-can {
    padding: 0.2rem;
    margin-left: 8rem;
    color: rgb(132, 132, 132);
    font-size: 1.2rem;
    cursor: pointer;
}

section main .wishlist-products .fa-trash-can:hover {
    color: rgb(248, 1, 1);
}

/* --- Hero Section Ends here --- */





/* --- Media Queries --- */

@media screen and (min-width: 768px) and (max-width: 992px) {

    nav {
        padding: 0 3%;
    }

    .nav-left .logo {
        margin-right: 1rem;
        font-size: 1.4rem;
    }

    .nav-left #searchInput {
        width: 34vw;
        padding: 0 0.5rem;
    }

    .nav-left form i {
        font-size: 1.4rem;
        padding: 0 0.5rem 0 0;
    }

    .nav-right span {
        margin-left: 1.5rem;
        font-size: 1.1rem;
    }

    .nav-menu {
        position: absolute;
        right: 4.2%;
    }

}

/* ---------------------------------------------- */

@media screen and (min-width: 576px) and (max-width: 768px) {

    nav {
        padding: 0 3%;
    }

    .nav-left .logo {
        margin-right: 1.2rem;
        font-size: 1.4rem;
    }

    .nav-left .logo span {
        display: none;
    }

    .nav-left #searchInput {
        width: 42vw;
        padding: 0 0.5rem;
    }

    .nav-left form i {
        font-size: 1.3rem;
        padding: 0 0.7rem 0 0;
    }

    .nav-right span {
        margin-left: 1.2rem;
        font-size: 1.1rem;
    }

    .nav-menu {
        position: absolute;
        right: 3.6%;
    }

}

/* ---------------------------------------------- */

@media screen and (max-width: 576px) {
    nav {
        padding: 0 3.7%;
    }

    nav .nav-right span {
        display: none;
    }

    .nav-left .logo {
        margin-right: 1rem;
        font-size: 1.3rem;
    }

    .nav-left .logo span {
        display: none;
    }

    .nav-left #searchInput {
        width: 55vw;
        padding: 0 0.5rem;
    }

    .nav-left form i {
        font-size: 1.2rem;
        padding: 0 0.7rem 0 0;
    }

    .nav-right .fa-bars {
        display: block;
        color: white;
        font-size: 1.4rem;
    }

    .nav-menu {
        position: absolute;
        right: 2%;
    }

    .nav-menu #tooltip {
        position: absolute;
        left: 13.6rem;
    }

}