*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
    }
    
    /* Edit Scroll Bar */
    ::-webkit-scrollbar {
        width: 0px;
    }
    
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background: blueviolet;
    }
    
    /* --- Navbar Starts here --- */
    nav{
        background-color: rgb(152, 23, 217);
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-left{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-left a{
        text-decoration: none;
    }
    
    .nav-left .logo{
        margin-right: 4rem;
        padding: 0.6rem 0;
        color: white;
    }
    
    form{
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
    }
    
    .nav-left #searchInput{
        width: 30vw;
        height: 2.5rem;
        padding: 0 1rem;
        border: none;
        outline: none;
    }
    
    .nav-left form i{
        font-size: 1.5rem;
        padding: 0 .5rem;
        color: rgb(169, 44, 232);
    }
    
    .nav-left form i:hover{
        color: rgb(147, 19, 210);
        transition: color 0.1s ease;
    }
    
    .nav-right{
        padding: 0.5rem 0;
    }
    
    .nav-right span{
        margin-left: 2.5rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: white;
        padding: 0.95rem 0;
        cursor: pointer
    }
    
    .nav-right a{
        text-decoration: none;
        color: white;
    }
    
    .nav-menu{
        position: absolute;
        right: 17%;
        background-color: white;
        width: max-content;
        box-shadow: 0px 1px 20px 1px rgba(175, 175, 175, 0.748);
        z-index: 1;
        display: none;
    }
    
    .nav-menu #tooltip{
        width: 20px;
        height: 20px;
        position: absolute;
        top: -0.4rem;
        left: 7rem;
        transform: rotate(180deg);
    }
    
    .nav-menu #tooltip i{
        color: white;
        font-size: 1.7rem;
    }
    
    .nav-menu .menu{
        padding: 0.5rem 5rem 0.8rem 2rem;
        border-bottom: 1px solid rgb(224, 224, 224);
        font-size: 1.1rem;
        font-weight: 500;
    }
    
    .nav-menu .menu a{
        text-decoration: none;
        color: black;
    }
    
    .nav-menu .menu:hover{
        background-color: rgb(242, 242, 242);
        transition: background-color 0.1s ease;
    }
    
    .nav-menu i{
        margin-right: 2rem;
        color: rgb(169, 44, 232);
    }
    /* --- Navbar Ends here --- */

    /* --- Hero Section Starts Here --- */
    section{
        background-color: rgb(241, 241, 241);
        min-height: 90vh;
    }
    
    section .container{
        padding: 1rem;
    }

    main{
        width: 70%;
        max-height: 88vh;
        overflow: hidden;
        background-color: white;
        box-shadow: 1px 2px 7px 1px rgba(175, 175, 175, 0.748);
    }

    /* .product-container:hover::-webkit-scrollbar {
        width: 5px;
    } */

    main .cart-head{
        border-bottom: 1px solid rgb(224, 224, 224);
    }

    main .cart-head h5{
        padding: 1rem 2rem;
    }

    main .product-container{
        max-height: 80vh;
        overflow-y: scroll;
    }

    main .cart-products{
        display: flex;
        align-items: center;
        gap: 1.8rem;
        border-bottom: 1px solid rgb(236, 236, 236);
    }

    main .cart-products img{
        margin: 1rem;
    }

    main .cart-products .product-des{
        padding: 1.5rem 0.5rem;
    }

    main .cart-products .product-des #title{
        font-weight: 500;
    }

    main .cart-products .product-des #title, .price{
        font-size: 1.4rem;
    }

    main .cart-products .product-des .count{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1.5rem;
    }

    main .cart-products .product-des .count #icn{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        background-color: rgb(239, 239, 239);
    }

    main .cart-products .product-des .count #icn:hover{
        background-color: rgb(231, 231, 231);
    }

    main .cart-products .product-des .count .item-count{
        width: 3rem;
        text-align: center;
        font-weight: 500;
        background-color: rgb(239, 239, 239);
        border-radius: 5px;
    }

    main .cart-products .product-des .count button{
        margin-left: 2rem;
        border: none;
        outline: none;
        background-color: rgb(138, 28, 216);
        color: white;
        padding: 0.2rem 0.8rem;
    }

    main .cart-products .product-des .count button:hover{
        background-color: rgb(102, 11, 187);
    }

    main .cart-products:hover #title{
        color: rgb(123, 28, 212);
    }

    aside{
        width: 28.5%;
        background-color: white;
        align-self: self-start;
        box-shadow: 1px 2px 7px 1px rgba(175, 175, 175, 0.748);
    }

    aside .details #details-head{
        border-bottom: 1px solid rgb(236, 236, 236);
        padding: 1.4rem 2rem 0.7rem 2rem;
    }

    aside .details #details-head h6{
        font-size: 1.3rem;
        color: rgb(129, 129, 129);
    }

    aside .details #details-body{
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        border-bottom: 1px solid rgb(236, 236, 236);
    }

    aside .details #details-body div{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 2rem;
        font-weight: 500;
    }

    aside .details #details-foot{
        padding: 1rem 2rem 0.9rem 2rem;
        font-size: 1.3rem;
        font-weight: 600;
        border-bottom: 1px solid rgb(236, 236, 236);
    }

    aside .details #details-foot div{
       display: flex;
       align-items: center;
       justify-content: space-between;
    }

    aside .details #details-foot span{
        margin-bottom: 0.48rem;
    }

    aside .details #btn{
        padding: 1rem 2rem 0.9rem 2rem;
    }

    aside .details #btn button{
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        background-color: rgb(34, 179, 11);
        color: white;
        border: none;
        outline: none;
    }

    aside .details #btn button:hover{
        background-color: rgb(16, 154, 12)
    }
    

    /* --- Hero Section Ends Here --- */