*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
  }
  
  /* Edit Scroll Bar */
  ::-webkit-scrollbar {
      width: 0;
  }
  
  ::-webkit-scrollbar-track {
      background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
      background: transparent;
  }
      
  /* --- Navbar Starts here --- */
  nav{
      background-color: rgb(152, 23, 217);
  }
  .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .nav-left{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .nav-left a{
      text-decoration: none;
  }
  
  .nav-left .logo{
      margin-right: 4rem;
      padding: 0.6rem 0;
      color: white;
  }
  
  form{
      background-color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
  }
  
  .nav-left #searchInput{
      width: 30vw;
      height: 2.5rem;
      padding: 0 1rem;
      border: none;
      outline: none;
  }
  
  .nav-left form i{
      font-size: 1.5rem;
      padding: 0 .5rem;
      color: rgb(169, 44, 232);
  }
  
  .nav-left form i:hover{
      color: rgb(147, 19, 210);
      transition: color 0.1s ease;
  }
  
  .nav-right{
      padding: 0.5rem 0;
  }
  
  .nav-right span{
   margin-left: 2.5rem;
   font-size: 1.2rem;
   font-weight: 500;
   color: white;
   padding: 0.95rem 0;
   cursor: pointer
   }
   
   .nav-right a{
       text-decoration: none;
       color: white;
   }
   
   .nav-menu{
     position: absolute;
     right: 10%;
     background-color: white;
     width: max-content;
     box-shadow: 0px 1px 20px 1px rgba(175, 175, 175, 0.748);
     z-index: 1;
     display: none;
   }
   
  .nav-menu #tooltip{
     width: 20px;
     height: 20px;
     position: absolute;
     top: -0.4rem;
     left: 7rem;
     transform: rotate(180deg);
    }
    
    .nav-menu #tooltip i{
        color: white;
        font-size: 1.7rem;
    }
    
    .nav-menu .menu{
      padding: 0.5rem 5rem 0.8rem 2rem;
      border-bottom: 1px solid rgb(224, 224, 224);
      font-size: 1.1rem;
      font-weight: 500;
    }
    
    .nav-menu .menu a{
      text-decoration: none;
      color: black;
    }
    
    .nav-menu .menu:hover{
      background-color: rgb(242, 242, 242);
      transition: background-color 0.1s ease;
   }
    
    .nav-menu i{
      margin-right: 2rem;
      color: rgb(169, 44, 232);
    }
    /* --- Navbar Ends here --- */

